{% include 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>DEC - Login Page</title>
{% endblock %}

{% block content %}
<main class="form-signin text-center container mt-5">
  <form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Delta Entertainment Company</h1>
    <div class="mx-5 mt-5 mb-5">
      {{ form|crispy }}
    </div>
   
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>
{% endblock %}